<html>
<head>
    <title>INDEX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/vue.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/Chart.js"></script>
</head>
<body>
    <div id="app">
        <div style="border:1px solid black">
            <button @click="getUrl">SAVE AS IMG</button><a ref="a" download="img.png" style="visibility:hidden">URL</a> data len {{data.length}}<br>
            <button @click="showMutEat">Mut Eat</button>
            <button @click="showMutUniq">Mut Uniq</button>
            <button @click="showMutLastUniq">Mut Last Uniq</button>
            <button @click="showUniqLastUniq">Uniq Last Uniq</button>
            <!-- <button @click="showUniversal">show {{req.tp}}</button> -->
        </div>
        <canvas ref="gr"></canvas><br>
    </div>
    <script src="/App.js"></script>
</body>
